@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    // Skapa en lista med svenska veckodagar och börja på måndag
    var daysOfWeek = new[] { "Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag" };
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Veckoschema</h1>
    <a asp-page="/Shared/HorsePicPage" class="btn btn-pastel btn-sm">Stallets hästar</a>
</div>

<p>Visar schema för: <strong>@Model.StartOfWeek.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</strong> till <strong>@Model.EndOfWeek.AddDays(-1).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</strong></p>

<div>
    <a asp-page="./Index" asp-route-weekOffset="@(Model.WeekOffSet - 1)" class="btn btn-pastel btn-smaller">Föregående vecka</a>
    <a asp-page="./Index" asp-route-weekOffset="@(Model.WeekOffSet + 1)" class="btn btn-pastel btn-smaller">Nästa vecka</a>
</div>

<div class="calendar">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tid</th>
                @foreach (var day in daysOfWeek)
                {
                    var dayIndex = Array.IndexOf(daysOfWeek, day);
                    var dayOfWeek = (DayOfWeek)dayIndex;

                    var dateOfDay = Model.StartOfWeek.AddDays(dayIndex - (int)Model.StartOfWeek.DayOfWeek);

                    <th>@Model.GetSwedishDayName(dayOfWeek) @dateOfDay.ToString("dd/MM", System.Globalization.CultureInfo.InvariantCulture)</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var hour = 6; hour < 20; hour++)
            {
                <tr>
                    <td>@hour:00</td>
                    @foreach (var day in daysOfWeek)
                    {
                        <td>
                            @foreach (var task in Model.TaskItems
                           .Where(t => t.StartDate.DayOfWeek == (DayOfWeek)Array.IndexOf(daysOfWeek, day) &&
                           t.StartDate.Hour == hour))
                            {
                                <div class="task @(task.IsCompleted ? "table-success" : "")">
                                    <strong>@task.Title</strong><br />
                                    <span>@task.ResponsiblePerson</span><br />
                                    <span>@task.StartDate.ToString("HH:mm")</span>
                                    <form method="post" asp-page-handler="ToggleComplete" asp-route-id="@task.Id" style="display:inline;">
                                        <input type="checkbox" id="completed-@task.Id" name="IsCompleted" @(task.IsCompleted ? "checked" : "") onchange="this.form.submit()" />
                                        <label for="completed-@task.Id">Utförd</label>
                                    </form>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form method="post" asp-page-handler="Delete" asp-route-id="@task.Id" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm">Ta bort</button>
                                        </form>
                                        <a asp-page="./EditTaskPage" asp-route-id="@task.Id" class="btn btn-edit btn-sm">Redigera</a>
                                    }
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between align-items-center">

    <form method="post" asp-page-handler="DownloadSnapshot">
        <input type="hidden" name="weekOffset" value="@Model.WeekOffSet" />
        <button type="submit" class="btn btn-pastel">Ladda ner veckans schema</button>
    </form>
</div>

<br />
<br />

<h1>Uppgifter</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Ansvarig</th>
            <th>Starttid</th>
            <th>Utförd</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Åtgärder</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.TaskItems)
        {
            <tr class="@(task.IsCompleted ? "table-success" : "")">
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.ResponsiblePerson</td>
                <td>@task.StartDate.ToString("HH:mm")</td>
                <td>
                    <form method="post" asp-page-handler="ToggleComplete" asp-route-id="@task.Id" style="display:inline;">
                        <input type="checkbox" id="completed-@task.Id" name="IsCompleted" @(task.IsCompleted ? "checked" : "") onchange="this.form.submit()" />
                    </form>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-page-handler="Delete" asp-route-id="@task.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Ta bort</button>
                        </form>
                        <a asp-page="./EditTaskPage" asp-route-id="@task.Id" class="btn btn-edit btn-sm">Redigera</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
@if (User.Identity.IsAuthenticated)
{
    <h2>Lägg till ny uppgift</h2>
    <form method="post">
        <div class="form-group">
            <label for="Title">Titel</label>
            <input type="text" id="Title" name="NewTask.Title" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="Description">Beskrivning</label>
            <input type="text" id="Description" name="NewTask.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ResponsiblePerson">Ansvarig</label>
            <input type="text" id="ResponsiblePerson" name="NewTask.ResponsiblePerson" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewTask.StartDate">Starttid</label>
            <input asp-for="NewTask.StartDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required />
            <span asp-validation-for="NewTask.StartDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-pastel">Lägg till</button>
    </form>
}